.profile{
    border: 1px solid black;
    width: 600px;
    
}
.stats{
    display: flex;
    list-style: none;
    border: 1px solid black;
    background-color:grey;
    height: 140px;
    margin: 0px;
    padding-left: 0px;
}

.avatar{
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    margin: 0 auto;
}

.username{
    text-align: center;
    color: black;
    font-size: 40px;
}
.tag{
   text-align: center;
   color:darkgrey;
   font-size:28px;
}

.location{
    text-align: center;
    font-size: 36px;
    
}
.list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-right: 1px solid black;

    
    
}
.likes{
    text-align: center;
}